<div id="fm">
  <as-split direction="horizontal">

    <as-split-area [size]="30">
      <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl" id="tree" class="panel left">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <div class="node-info" [class.selected]="node.id === selectedId">
            <div class="name" (click)="selectTreeNode(node)" (contextmenu)="onRightClick($event, node)">{{node.name}}</div>
          </div>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: isParent">
            <div class="mat-tree-node">
              <button matTreeNodeToggle class="glyph" [attr.aria-label]="'Toggle ' + node.name" (click)="toggleTreeNode(node)">
                <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
              </button>
              <div class="node-info" [class.selected]="node.id === selectedId">
                <div class="name" (click)="selectTreeNode(node)" (contextmenu)="onRightClick($event, node)">{{node.name}}</div>
              </div>
            </div>
            <div [class.hidden]="!treeControl.isExpanded(node)" role="group">
              <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </as-split-area>

    <as-split-area [size]="70">
      <div id="viewer" class="panel right">
        <table mat-table [dataSource]="filesDataSource" multiTemplateDataRows matSort>
          <ng-container *ngFor="let h of headerVisible" [matColumnDef]="h.id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{h.name}}</th>
            <td mat-cell *matCellDef="let file" [attr.name]="h.id">{{file[h.id]}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="headerVisibleIds; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: headerVisibleIds;"
              (click)="expandedRow = expandedRow === row ? undefined : row"
              class="general"
              [class.selected]="expandedRow === row">
          </tr>
          <!-- Detail -->
          <ng-container matColumnDef="path">
            <td mat-cell *matCellDef="let file" [attr.colspan]="headerVisibleIds.length">
              <div class="file-extra">
                <div class="info">
                  <div>
                    <span><b>path:&nbsp;</b></span>
                    <span>{{file.path}}</span>
                  </div>
                  <div class="buttons">
                    <button mat-button (click)="downloadFile(file.path)">Download</button>
                    <button mat-button (click)="renameFile(file.parentId, file.path)">Rename</button>                   
                    <button mat-button color="warn" (click)="deleteFile(file.parentId, file.path)">Delete</button>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: ['path'];" [class.expanded]="expandedRow === row" class="detail"></tr>
        </table>
      </div>

    </as-split-area>
  
  </as-split>

  <div id="manager">
    <mat-checkbox *ngFor="let h of header" [(ngModel)]="h.visible" (change)="includeColumn($event.checked, h.id)">{{h.name}}</mat-checkbox>
  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="renameFolder(item)">Rename</button>
    <button mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>
<div [matMenuTriggerFor]="contextMenu" 
     [style.left.px]="contextMenuPosition[0]"
     [style.top.px]="contextMenuPosition[1]"
     style="position: fixed;"></div>