
#fm {
    margin: 20px auto 0;
    max-width: 1000px;
    height: 500px;
}
#fm #current-path {
    margin-top: 9px;
    text-align: center;
    font-family: Consolas;
    color: chocolate;
}
#fm .panel {
    height: 100%;
}
/* #region tree */
#fm #tree {
    padding: 15px 15px 15px 35px;
    height: calc(100% - 30px);
    overflow: auto;
    background-color: beige;
}
#fm #tree ul,
#fm #tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
#fm #tree .glyph {
    position: absolute;
    margin-left: -26px;
    padding: 0;
    border: none;
    background: unset;
}
#fm #tree [role=group] {
    padding-left: 15px;
}
#fm #tree .mat-tree-node {
    position: relative;
    width: fit-content;
    min-height: unset;
    font-weight: bold;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}
#fm #tree .mat-tree-node:hover {
    color: orange;
    transition: color 0.3s;
}
#fm #tree .mat-tree-node .node-info > div {
    display: inline-block;
}
#fm #tree .mat-tree-node .node-info.selected {
    color: orangered;
}
/* #endregion */
/* #region viewer */
#fm #viewer,
#fm #viewer table,
#fm #viewer tr {
    background-color: antiquewhite;
}
#fm #viewer table {
    width: 100%;
}
/* tr */
#fm #viewer tr.general {
    cursor: pointer;
}
#fm #viewer tr.general:hover,
#fm #viewer tr.general.selected:hover {
    background-color:peachpuff;
}
#fm #viewer tr.general.selected,
#fm #viewer tr.detail.expanded {
    background-color: bisque;
}
#fm #viewer tr.detail {
    padding: 0;
    height: auto;
}
/* th, td */
#fm #viewer th {
    font-size: inherit;
    text-align: center;
}
#fm #viewer th.mat-header-cell:first-of-type {
    padding-left: 0;
}
#fm #viewer th.mat-header-cell:last-of-type {
    padding-right: 0;
}
#fm #viewer tr:nth-of-type(2n+1) td {
    border: none;
}
#fm #viewer tr.general th,
#fm #viewer tr.general td {
    padding: 15px;
    text-align: center;
}
#fm #viewer tr.general td[name=name] {
    text-align: start;
}
#fm #viewer tr.detail td {
    padding: 0;
}
#fm #viewer tr.detail .file-extra {
    padding: 0 15px;
    width: 100%;
    height: 0;
    overflow: hidden;
}
#fm #viewer tr.detail.expanded .file-extra {
    height: unset;
}
#fm #viewer tr.detail .file-extra .info {
    font-size: 9pt;
    color: brown;
}
#fm #viewer tr.detail .file-extra .info .buttons {
    margin: 5px 0;
}
#fm #viewer ::ng-deep .mat-sort-header-container {
    justify-content: center;
}
/* #endregion */
/* #region manager */
#fm #manager {
    margin: 15px auto 0;
    width: fit-content;
}
#fm #manager .mat-checkbox {
    margin: 5px 15px;
}
/* #endregion */
::ng-deep snack-bar-container.error {
    background-color: firebrick;
}