.invisible {
    display: none;
}
#fm {
    margin: 20px auto 0;
    max-width: 800px;
    height: 500px;
}
#fm .panel {
    padding: 15px;
    height: calc(100% - 30px);
    overflow: auto;
}
#fm .panel.left {
    border-radius: 5px 0 0 5px;
}
#fm .panel.right {
    border-radius: 0 5px 5px 0;
}
#fm #tree {
    padding-left: 35px;
    background-color: beige;
}
#fm #tree ul,
#fm #tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
#fm #tree .glyph {
    margin-left: -26px;
    position: absolute;
    padding: 0;
    border: none;
    background: unset;
}
#fm #tree [role=group] {
    padding-left: 15px;
}
#fm #tree .mat-tree-node {
    position: relative;
    width: fit-content;
    min-height: unset;
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}
#fm #tree .mat-tree-node:hover {
    color: orange;
    transition: color 0.3s;
}
#fm #tree .mat-tree-node .node-info > div {
    display: inline-block;
}
#fm #tree .mat-tree-node .node-info.selected {
    color: orangered;
}
#fm #viewer {
    background-color: aliceblue;
}